/*============================================================ Layout ============================================================*/

.container {
    width: 100%;
    max-width: inherit;
    float: left;
    background-color: $white;
    z-index: 10;
    position: relative;
    
    .section-home {
        padding: $nav-height+10px 5%;
        margin: {
            top: 0;
            bottom: 0;
        }
    } 
}