/*============================================================ Layout ============================================================*/

.container {
    width: 100%;
    max-width: inherit;
    float: left;
    background-color: $white;
    z-index: 10;
    position: relative;
    
    .section-home {
        padding: $nav-height+10px 5%;
        margin: {
            top: 0;
            bottom: 0;
        }
    } 
}


.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
  float: left;
  width:100%;
  padding: 0 1%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 40em) {
  .grid-1 { width: 16.6666666%; }
  .grid-2 { width: 33.3333333%; }
  .grid-3 { width: 50%; }
  .grid-4 { width: 66.6666666%; }
  .grid-5 { width: 83.3333333%; }
  .grid-6 { width: 100%; }
}

/* Testimonials */
.testimonial {
    text-align: center;
    margin-bottom: 30px;

    img {
        width: inherit;
        height: inherit;
        border-radius: 3px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 40px;
      }
    p {
        font-style: italic;
        color: #888;
        margin-top:  -15px;
      }
  }
