/*============================================================ Layout ============================================================*/

.container {
  width: 100%;
  max-width: inherit;
  float: left;
  background-color: $white;
  z-index: 10;
  position: relative;



  .section-home {
    padding: $nav-height 5%;

    margin: {
      top: 0;
      bottom: 0;
    }

  }

  .section-education {
    padding: $nav-height 5%;

    margin: {
      top: 0;
      bottom: 0;
    }

    padding-bottom: 10px;
    margin-bottom: 10px;

    $margin-right: 50px;
    $width-infos: 8rem;

    .infos {
      width: $width-infos;
      float: left;
      margin-right: $margin-right;
    }

    .description-education {
      width: calc(100% - #{$margin-right} - #{$width-infos}) !important;
      float: left;
    }
  }
}

.company-img-band {
  width: 200px;
  max-width: 200px;
  height: 200px;
  max-height: 200px;
  height: inherit;
  display: block;
}

.company-img {
  width: 100px;
  max-width: 150px;
  height: 100px;
  max-height: 150px;
  height: inherit;
  display: block;
}

.cv {
  width: 150px;
  height: inherit;
  border-radius: 49.9%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
  float: left;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.badge {
  p {
    font-weight: bold;
  }
}

@media screen and (min-width: 40em) {
  .grid-1 {
    width: 16.6666666%;
  }

  .grid-2 {
    width: 33.3333333%;
  }

  .grid-3 {
    width: 50%;
  }

  .grid-4 {
    width: 66.6666666%;
  }

  .grid-5 {
    width: 83.3333333%;
  }

  .grid-6 {
    width: 100%;
  }
}

/* Testimonials */
.testimonial {
  padding: $nav-height 5%;

  margin: {
    top: 0;
    bottom: 0;
  }

  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;

  img {
    width: inherit;
    max-width: 40%;
    height: inherit;
    border-radius: 49.9%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
  }

  p {
    font-style: italic;
    color: #888;
    margin-top: -15px;
  }
}