/*============================================================ Navigation ============================================================*/
header {
    @include flexbox(center, flex-start, nowrap);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 5%;
    z-index: 999;
    background-color: $primary;

    .logo-jd {
        color: $white !important;
        background-color: $primary !important;
        width: 35px;
        height: 35px;
        text-decoration: none;
        @extend %flexCenter;
        @extend %body-bold;
    }

    

    .social {
        @extend %ulNone;
        @include flexbox(center, flex-start, nowrap);

        li {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }

        a {
            color: $white !important;
        }
    }

    .social-mobile {
        display: none;
    }

    @media screen and (max-width: 600px) {
        .social-mobile {
            display: inherit;
        }

        .social-desktop {
            display: none;
        }
    }
}
