/*============================================================ Background Colors ============================================================*/

.bg-black {
    background-color: $black;
}

.bg-white {
    background-color: $white;
}

.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $secondary;
}

/*============================================================ Nav Height ============================================================*/

$nav-height: 55px;