@charset "UTF-8";
/* SCSS Document */

/*============================================================ Fajny ============================================================*/

@import "fajny-css/fajny";

/*============================================================ Imports ============================================================*/

@import "variables";
@import "mixins";
@import "fonts";

/*============================================================ General ============================================================*/

*,
*:before,
*:after {
	@include box-sizing(border-box);
}

html,
body {
     @extend %paMar;
     @extend %body;
     scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

hr {
    width: 100%;
    float: left;
    border: 1px solid $light-gray;
    padding: 0;
    $margin: 50px;
    margin: {
        top: $margin;
        // bottom: $margin;
    }
}

/*============================================================ Components ============================================================*/

@import "ui-components";
@import "layout";
@import "navigation";
@import "footer";

/*============================================================ Pages ============================================================*/

@import "home";
@import "experience";

/*============================================================ Helpers ============================================================*/

@import "helpers";

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}