<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Joseph Dayssol</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="../static/images/favicon.png" rel="shortcut icon">

    <!-- CSS -->
    <!-- <link rel="stylesheet" href="/css/fajny-css/fajny.css" type="text/css" /> -->
    <link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/style.css">


</head>

<body>
    <header w3-include-html="../static/includes/header.html"></header>
    <main class="container no-padd-bottom">
        <div class="cover" id="cover">
            <video autoplay muted loop id="backgroundvideo">
                <source src="" type="video/mp4" id="backgroundvideosource" />
                Your browser does not support HTML5 video.
            </video>

            <div class="img-cover" id="backgroundcover"></div>

            <div class="title">
                <h1>Joseph Dayssol</h1>
                <h2>
                    <div class="type-wrap">
                        <span id="typed3"></span><span class="typed-cursor">|</span>
                    </div>
                </h2>
            </div>
        </div>

        <div class="container container-home">
            <div w3-include-html="../static/includes/presentation.html"></div>

            <section class="section-home" id="timeline">
                <h3>Working experience: </h3>
                <ol class="timeline" w3-include-html="../static/includes/timeline-fajny.html"></ol>
            </section>

            <!-- Testimonials-->
            <section class="testimonial section-home" id="reference" w3-include-html="../static/includes/reference.html">
            </section>
            <section class="section-home no-padd-bottom" id="techstack">
                <h3>Tech stack : </h3>
                <a frameborder="0" data-theme="light" data-layers="1,2,3,4" data-stack-embed="true"
                    href="https://embed.stackshare.io/stacks/embed/cccfde7ee45798dc4149eb6c3d1e91" /></a>
                <script async src="../static/js/client-code.js" charset="utf-8"></script>
            </section>


        </div>

        <footer w3-include-html="../static/includes/footer.html" class="myfooter">

        </footer>
    </main>


    <!-- JS -->
    <script src="../static/js/includes.js"></script>
    <script src="../static/js/typed.min.js"></script>
    <script src="../static/js/loadvideo.js"></script>
    <script src="../static/js/header.js"></script>
    <script src="../static/js/script.min.js"></script>

</body>

</html>