<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Joseph Dayssol</title>
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="" name="description">
        <meta content="" name="author">
        <link href="../static/images/favicon.png" rel="shortcut icon">

        <!-- CSS -->
        <!-- <link rel="stylesheet" href="/css/fajny-css/fajny.css" type="text/css" /> -->
        <link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" type="text/css" />
        <link rel="stylesheet" href="../static/css/style.css">


    </head>
    
    <body>
        <header w3-include-html="../static/includes/header.html" ></header>
        <main class="container no-padd-bottom">
        <div class="cover" id="cover">
             <video autoplay muted loop id="backgroundvideo">
                <source src="" type="video/mp4" id="backgroundvideosource"/>
                Your browser does not support HTML5 video.
            </video>

            <div class="img-cover" id="backgroundcover"></div>

            <div class="title">
                <h1>Joseph Dayssol</h1>
                <h2>
                <div class="type-wrap">
                    <span id="typed3"></span><span class="typed-cursor">|</span>
                  </div>
                </h2>
            </div>
        </div>

        <div class="container container-home">
            <section class="section-home" id="presentation">
                    <div class="row">
                            <div class="grid-4">
                                    <h3>Experience. Precision. Excellence.</h3>
                                    <p>
                                            With bachelor and master degrees in Computer Systems, I have accumulated more than 15 years of
                                            development experience (Java, JavaScript, C# and their ecosystems). In 2010 he completed further
                                            studies in management, which gives me a great deal of extra value due to his good business
                                            understanding.
                                            After that I worked in an agile sub-team of 5 developers responsible for building software in the
                                            insurance and risk management industries, utilizing : Java 11, C#, Javascript,Spring Boot, Git,
                                            Maven, Hibernate.</p>
                            </div>
                    <div class="grid-2">
                            <img src="../static/images/cv.png" class="cv">
                    </div>
                    </div>
            </section>

            <section class="section-home">
                <h3>Engineering With Style.</h3>
                <p>15 years of experience in software and web development using object oriented languages for IT
                    companies, insurances and banks. 
                    </p>
                    <div style="width: 50%;">
                    <br/>
                    French <div class="progress progress-primary progress-100 progress-anim-100"></div>
                    <br/>
                    <br/>
                    English <div class="progress progress-success progress-75 progress-anim-75"></div>  
                    <br/>
                    <br/>
                    German<div class="progress progress-warning progress-50 progress-anim-50"></div>
                    <br/>
                    </div>
            </section>
            <section class="section-home">
                <h3>Recognised for:</h3>
                <p>
                    <ul>
                        <li>Being adaptable and flexible.</li>
                        <li>Problem solving oriented.</li>
                        <li>Team worker.</li>
                        <li>Computer Enthusiast.</li>
                    </ul>
                </p>
            </section>

            <section class="section-education">
                    <h3>Education</h3>
                <div class="description-education">
                    <p>University Paris-Sorbonne : MBA - Master of Enterprise Administration.</p>
                    <p>University Pasquale Paoli, Corsica : Master degree in computer science.</p>
                </div>
                <div class="infos">
                        <a href="#" target="_blank">
                            <img src="../static/images/degree2.jpg" style="border-radius: 49.9%;" alt="">
                        </a>
                    </div>
            </section>

            <section class="section-timeline" id="timeline">
                <ol class="timeline .container-timeline">
                    <li>
                                                <img src="../static/images/wibas.png" alt="Wibas" class="company-img-band" id="wibas">
                                                <h5> Lead Software engineer</h5> 
                                                <small>Feb. 2019 - actual position - Hamburg</small>
                                                <br/>
                                                        <br/>Wibas IO is a IT company located in Hamburg.
                                                        <br/>App engineer - Starting from scratch, free choice of the architecture and technology.
                                                        <br/>
                                                        <h6>Tasks and achievements:</h6>
                                                            <br/>Construction of the CI/ CD chain using Gitlab and Heroku.
                                                            <br/>Implementation of the back office website using Angular and of the backend using Java/Springboot.
                                                            <br/> Implementation of the API to communicate with tax office (Elster).
                                                            <br/>Implementation of unit tests using SpringBootTest and of integration tests using Postman.
                                                            <br/>
                                                            <div class="badge bg-primary"><p>Angular 7</p></div>
                                                            <div class="badge bg-secondary"><p>SpringBoot</p></div>
                                                            <div class="badge bg-success"><p>Java</p></div>
                                                            <div class="badge bg-danger"><p>PostMan</p></div>
                                                            <div class="badge bg-warning"><p>MongoDB</p></div>
                                                            <div class="badge bg-primary"><p>Maven</p></div>
                                                            <div class="badge bg-secondary"><p>GitLab</p></div>
                                                            <div class="badge bg-success"><p>Heroku</p></div>                                                           
                    </li>
                    <li>
                        <img src="../static/images/effisoft.png" alt="Effisoft" class="company-img-band" id="effisoft">
                        <h5>Software engineer</h5>
                        <small>Jan. 2014 - Feb. 2019 - Paris</small>
                        <br/>
                        <p>Effisoft delivers software solutions to the Insurance, Reinsurance and Risk Management
                            industries worldwide.
                            <br/>As member of the front-end team of the software Webxl, I was in charge of developing new
                            functionalities, fixing defects and deploying builds in internal environment.</p>
                            <br/>
                            <h6>Tasks and achievements:</h6>
                           <br/>Application maintenance of the software Webxl - front and back end using the technologies Silverlight, Java, Hibernate
                           <br/>SCRUM (Agile) team work according to customer requirements – conduction of meetings with product owner – cost estimate – sprint evaluation – development – testing – delivery
                           <br/>Delivery process with framework Maven, Jenkins
                           <br/>Fixes of defects / Test scenario redaction
                           <br/>
                           <div class="badge bg-primary"><p>Java</p></div>
                           <div class="badge bg-secondary"><p>C#</p></div>
                           <div class="badge bg-success"><p>PL-SQL</p></div>
                           <div class="badge bg-danger"><p>Vue.js</p></div>
                           <div class="badge bg-warning"><p>Hibernate</p></div>
                    </li>
                    <li>
                        <img src="../static/images/april.png" alt="April international" class="company-img" id="april">
                        <h5>E-commerce developer</h5>
                        <small>April. 2012 - Dec. 2013 - Paris</small>
                        <p>April International is an e-commerce insurance broker.
                            <br/> I implemented new insurance products subscription for the e-commerce international
                            website providing dynamic pricing and supplying the insurance administration software.</p>
                                <h6>Tasks and achievements:</h6>
                                    <br/>Application maintenance of existing subscription system and development of new subscription website, resulting in a 20% increase of sales revenues on the web channel.
                                    <br/>Sustainable reform of quote and certificate generation in multiple languages.
                                    <br/>Efficient fix of production defects according to the contractual provisions of short-time customer requests, providing reliable on-time-delivery.
                                    <br/>
                                <div class="badge bg-primary"><p>Java</p></div>
                                <div class="badge bg-secondary"><p>Struts</p></div>
                                <div class="badge bg-success"><p>EJB 3.0</p></div>
                                <div class="badge bg-danger"><p>Hibernate</p></div>
                    </li>
                    <li>
                        <img src="../static/images/sungard.png" alt="Fis" class="company-img" id="sungard">
                        <h5>Software developer</h5>
                        <small>Jan. 2011 - May. 2012 - Paris</small>
                        <p>Sungard is a IT consulting company. I worked for BNP and Banque Populaire.
                            <br/>
                            <br/> Mission for BNP: I implemented from scratch a software to manage loans, applying CMMI and quality
                            standards.The team consisted of three developers, one database architect and one project manager. The team applied CMMI and the quality standards of BNP CIB.

                            <h6>Tasks and achievements:</h6>
                               <br/> Development of responsive pages and of high-volume withstanding back-end, applying design patterns, defensive and interface programming, increasing the competence of the team with respect to various technologies and resulting in the integration of quality standards at the development level.
                               <br/> The reliable on-time-delivery within short deadlines allowed the customer to shift Excel files to a powerful and secure web application.
                               <br/>
                               <div class="badge bg-primary"><p>Java</p></div>
                               <div class="badge bg-secondary"><p>Javascript</p></div>
                               <div class="badge bg-success"><p>Struts</p></div>
                               <div class="badge bg-danger"><p>Hibernate</p></div>
                               <div class="badge bg-warning"><p>Jquery</p></div>
                               <div class="badge bg-primary"><p>CSS</p></div>
                               <div class="badge bg-secondary"><p>XHTML</p></div>
                               <br/><br/>
                               <p>
                                <br/> Mission for Banque Populaire: Product owner and integration testing engineer Redesign of web site
                                of Banque Populaire, applying SharePoint 2010 and C# specific development.
                                </p>
                               <br/>Redesign of web site of Banque Populaire, applying SharePoint 2010 and C# specific development. The team in charge of the project applied SCRUM.
                               <h6>Tasks and achievements:</h6>
                               <br/> Preparation and conduction of meetings with managing directors in Nantes elaborating on client’s needs and defining potential strategies with regard to the envisaged redesign of the website of Banque Populaire.
                               <br/> Drafting of user story and technical documentation successfully implemented by the developers.
                               <br/> Acquisition of SCRUM methodology, which significantly improved the visibility of the respective status of the project.
                               <br/>Continuous integration resulted in reduced defects.
                               <br/>
                               <div class="badge bg-primary"><p>C#</p></div>
                               <div class="badge bg-secondary"><p>Sharepoint</p></div>
                               <div class="badge bg-success"><p>Hudson</p></div>
                        </p>
                    </li>
                    <li>
                        <img src="../static/images/macsf.png" alt="" class="company-img" id="macsf">
                        <h5>Java developer</h5>
                        <small>Aug. 2007 - Jan. 2011 - Paris</small>
                        <p>MACSF is a health insurance.
                            <br/> Development of internal software for accounting, loss and savings in the context of
                            technology shift from Cobol to JSP interfaces.
                            <br/> Development of the client’s subscription web site using .NET.
                            <h6>Tasks and achievements:</h6>
                       <br/>Development of new software interfaces which highly improved the user experience and performance.
                       <br/>Development of generation tools, drafting of documentation and providing java training to Cobol developers, resulting in a sustainable integration of the technology change.
                       <br/>Development of the life insurance web site and health care web site Libéa using .NET, resulting in an innovative and efficient channel of subscription on the web.
                       <br/>
                               <div class="badge bg-primary"><p>Java</p></div>
                               <div class="badge bg-secondary"><p>C#</p></div>
                               <div class="badge bg-success"><p>Struts</p></div>
                               <div class="badge bg-danger"><p>Cobol</p></div>
                        </p>
                    </li>
                    <li>
                        <img src="../static/images/aubay.png" alt="" class="company-img" id="aubay">
                        <h5>Junior developer</h5>
                        <small>Oct. 2005 - Jun. 2008 - Paris</small>
                        <p>Aubay is a IT consulting company.
                            <br/> I worked on differents development missions ( J2EE - C# - PHP - C++) for clients :Orange, France Telecom, Accor, Veolia.
                            <br/>
                            <div class="badge bg-primary"><p>Java</p></div>
                               <div class="badge bg-secondary"><p>C#</p></div>
                               <div class="badge bg-success"><p>PHP</p></div>
                               <div class="badge bg-danger"><p>C++</p></div>
                        </p>
                    </li>
                </ol>
            </section>
             <!-- Testimonials-->	
             <section class="testimonial section-home" id="reference">
                    <div class="row">
                        <div class="grid-2">
                            <img src="../static/images/ref1.jpg">
                            <br/>
                            <h3>Anna Léa Lesage</h3>                            
                            <p>
                                <br/>I've worked together with Joseph on a small project.
                                He onboarded me very well on this project which mixed many different technologies (google cloud, firebase and Angular cli).
                                He explained the interconnections very well showing a high understanding of the technologies used.</p>
                        </div>
                        <div class="grid-2">
                                <img src="../static/images/avatar.png">
                                <br/>
                                <h3>Timothe Coger</h3>
                                <p><br/>Joseph is a qualified and talentuous person to solve issues and rebuild technical architectures. It was a real pleasure to work with him.</p>
                            </div>
                            <div class="grid-2">
                                    <img src="../static/images/ref2.jpg">
                                    <br/>
                                    <h3>Cristiano Diniz Pinto</h3>                                   
                                    <p><br/>Joseph is a high-level java backend developer; I had the opportunities to receive advice from him in a java backend application, and he guided me through the best practices for implementing test unit and java architecture. He is always looking for improvements and searching for opportunities to share his knowledge with others.
                                        <br/>Joseph is also transparent and trustable; that makes him a good match for work together.</p>
                                </div>
                            
                    </div>
                </section>
        <section class="section-home no-padd-bottom" id="techstack">
                <a frameborder="0" data-theme="light" data-layers="1,2,3,4" data-stack-embed="true"
                    href="https://embed.stackshare.io/stacks/embed/cccfde7ee45798dc4149eb6c3d1e91" /></a>
                <script async src="../static/js/client-code.js" charset="utf-8"></script>
            </section>

            
        </div>

        <footer w3-include-html="../static/includes/footer.html" class="myfooter">
            
        </footer>
       </main>

        
        <!-- JS -->
        <script src="../static/js/includes.js"></script>
        <script src="../static/js/typed.min.js"></script>
        <script src="../static/js/script.min.js"></script>
        <script src="../static/js/loadvideo.js"></script>
        <script src="../static/js/header.js"></script>
    </body>
</html>
