<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Joseph Dayssol</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="../static/images/favicon.png" rel="shortcut icon">

    <!-- CSS -->
    <!-- <link rel="stylesheet" href="/css/fajny-css/fajny.css" type="text/css" /> -->
    <link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/style.css">


</head>

<body>
    <header w3-include-html="../static/includes/header.html"></header>
    <main class="container no-padd-bottom">
        <div class="cover" id="cover">
            <video autoplay muted loop id="backgroundvideo">
                <source src="" type="video/mp4" id="backgroundvideosource" />
                Your browser does not support HTML5 video.
            </video>

            <div class="img-cover" id="backgroundcover"></div>

            <div class="title">
                <h1>Joseph Dayssol</h1>
                <h2>
                    <div class="type-wrap">
                        <span id="typed3"></span><span class="typed-cursor">|</span>
                    </div>
                </h2>
            </div>
        </div>

        <div class="container container-home">
            <section class="section-home" id="presentation">
                <div class="row">
                    <div class="grid-4">
                        <h3>Experience. Precision. Excellence.</h3>
                        <p>
                            With bachelor and master degrees in Computer Systems, I have accumulated more than 15 years
                            of
                            development experience (Java, JavaScript, C# and their ecosystems). In 2010 he completed
                            further
                            studies in management, which gives me a great deal of extra value due to his good business
                            understanding.
                            After that I worked in an agile sub-team of 5 developers responsible for building software
                            in the
                            insurance and risk management industries, utilizing : Java 11, C#, Javascript,Spring Boot,
                            Git,
                            Maven, Hibernate.</p>
                    </div>
                    <div class="grid-2">
                        <img src="../static/images/cv.png" class="cv">
                    </div>
                </div>
            </section>

            <section class="section-home">
                <h3>Engineering With Style.</h3>
                <p>15 years of experience in software and web development using object oriented languages for IT
                    companies, insurances and banks.
                </p>
                <p>A dedicated team player with the drive and skill-set to excel in a senior software engineer role
                    enhancing the company’s ability to provide clients with modern and value-added software.</p>
            </section>

            <section class="section-home">
                <div class="row">
                    <div class="grid-2">
                        <h3>Recognised for :</h3>
                        <p>
                            <ul>
                                <li>Being adaptable and flexible</li>
                                <li>Problem solving oriented</li>
                                <li>Team worker</li>
                                <li>Computer Enthusiast</li>
                            </ul>
                        </p>
                    </div>
                    <div class="grid-2">
                        <h3>Languages :</h3>
                        <p>
                            <ul>
                                <li>French : Native</li>
                                <li>English : Proficient</li>
                                <li>German : Advanced</li>
                            </ul>
                        </p>
                    </div>
                    <div class="grid-2">
                        <h3>Education :</h3>
                        <p>
                            <ul>
                                <li>MBA Master of business administration : 2008 - La sorbonne, Paris</li>
                                <li>Master in computer science : 2005 - university of Corsica</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </section>

            <section class="section-home" id="timeline">
                <h3>Working experience: </h3>
                <ol class="timeline" w3-include-html="../static/includes/timeline-fajny.html"></ol>
            </section>

            <!-- Testimonials-->
            <section class="testimonial section-home" id="reference">
                <h3>References :</h3>
                <div class="row">
                    <div class="grid-2">
                        <a href="https://www.linkedin.com/in/annalealesage/" target="_blank"><img
                                src="../static/images/ref1.jpg">
                            <br />
                            <h3>Anna Léa Lesage <br /> Data Analyst at wibas IO</h3>
                        </a>
                        <p>
                            <br />I've worked together with Joseph on a small project.
                            He onboarded me very well on this project which mixed many different technologies (google
                            cloud, firebase and Angular cli).
                            He explained the interconnections very well showing a high understanding of the technologies
                            used.</p>
                    </div>
                    <div class="grid-2">
                        <a href="https://www.linkedin.com/in/timothe-coger-89698615/" target="_blank"><img
                                src="../static/images/avatar.png">
                            <br />
                            <h3>Timothe Coger <br />Lead Software Architect at Effisoft</h3>
                        </a>
                        <p><br />Joseph is a qualified and talentuous person to solve issues and rebuild technical
                            architectures. It was a real pleasure to work with him.</p>
                    </div>
                    <div class="grid-2">
                        <a href="https://www.linkedin.com/in/cristianodp/" target="_blank"><img
                                src="../static/images/ref2.jpg">
                            <br />
                            <h3>Cristiano Diniz Pinto <br /> Software Engineer at wibas IO </h3>
                        </a>
                        <p><br />Joseph is a high-level java backend developer; I had the opportunities to receive
                            advice from him in a java backend application, and he guided me through the best practices
                            for implementing test unit and java architecture. He is always looking for improvements and
                            searching for opportunities to share his knowledge with others.
                            <br />Joseph is also transparent and trustable; that makes him a good match for work
                            together.</p>
                    </div>

                </div>
            </section>
            <section class="section-home no-padd-bottom" id="techstack">
                <h3>Tech stack : </h3>
                <a frameborder="0" data-theme="light" data-layers="1,2,3,4" data-stack-embed="true"
                    href="https://embed.stackshare.io/stacks/embed/cccfde7ee45798dc4149eb6c3d1e91" /></a>
                <script async src="../static/js/client-code.js" charset="utf-8"></script>
            </section>


        </div>

        <footer w3-include-html="../static/includes/footer.html" class="myfooter">

        </footer>
    </main>


    <!-- JS -->
    <script src="../static/js/includes.js"></script>
    <script src="../static/js/typed.min.js"></script>
    <script src="../static/js/loadvideo.js"></script>
    <script src="../static/js/header.js"></script>
    <script src="../static/js/script.min.js"></script>

</body>

</html>