/*=============================================================  =============================================================*/

.badge {
	float: left;
	padding: 5px 10px;
	color: $black;
	
	@include border-radius(25px);

	p {
		@extend %paMar;
	}


	&.bg-primary {
		color: #6B7987;
	}

	&.bg-secondary {
		color: #9AA37D;
	}

	&.bg-success {
		color: #618C32;
	}

	&.bg-danger {
		color: #6B7987; 
	}

	&.bg-warning {
		color: #9C3E23;
	}
}
